<% provide(:title, "About") %>

<h1>About Stories</h1>

<p>
  This web application was made so that I could easily 
  record memories and revisit them. <br/> <br/> Think of it as a 
  digital photo album that lets you travel back in time
  to parts of your life in chronological order - and easily share
  your story with others.
</p>
