<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Stories</h1>

  <h2>
    What's your story?
  </h2>

  <%= link_to "Sign up to add your stories!", '/signup', class: "btn btn-lg btn-primary" %>
</div>