<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Stories</title>
  </head>
  <body>    
    <h1>Stories</h1>
    <p>
      What's your story?
    </p>
  </body>
</html>